<div class="row">
  <div class="col-xs-12">
    <button class="btn-success">New Recipe</button>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-recipe-item
        *ngFor="let recipeElement of recipes"
        [recipe]="recipeElement"
        (recipeSelected)="onRecipeSelected(recipeElement)"
      ></app-recipe-item>
    </div>
  </div>
</div>

<!-- 
    for img source, can use string interpolation or property binding
    string interpolation:
    img src = "{{recipe.imagePath}}"
    
    property binding:
    img [src]="recipe.imagePath"


    [recipe] in line 10 - this points to the one in recipe-item component
 -->
