<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes; let i = index"
      [recipe]="recipeEl"
      [index]="i"
      ></app-recipe-item>
  </div>
</div>

<!-- 
    for img source, can use string interpolation or property binding
    string interpolation:
    img src = "{{recipe.imagePath}}"
    
    property binding:
    img [src]="recipe.imagePath"


    [recipe] in line 10 - this points to the one in recipe-item component
 -->
